<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

	<bean id="mediaResourceHandler" class="com.skynet.mediaserver.mediasaver.SimpleFileSystemMediaSaver">
        <property name="repoistoryFolder" value="${files.base.folder}"/>
        <property name="appOperationTokens">
        	<map>
                <entry key="all_public" value="public" />
                <entry key="example" value="example" />
                <entry key="bettbio_ad" value="tiu4difo" />
            </map>
        </property>
    </bean>
</beans>